.media__container {
  display: flex;
  max-width: 1216px;
  background-color: #ffffff;
  border-radius: 12px;
  gap: 128px;
}

.media__info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 661px;
  gap: 12px;
  padding: 36px 40px;
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
}

.media__title {
  font-size: 34px;
  font-style: medium;
}

.media__description {
  font-size: 15px;
  line-height: 130%;
}

.media__images {
  position: relative;
  width: 287px;
  height: 126px;
}

.media__image {
  position: absolute;
}

.media__image-back {
  width: 233px;
  height: 155px;
  top: 6px;
}

.media__image-front {
  left: 100px;
  top: 4px;
}

@media (max-width: 768px) {
  .media__container {
    gap: 40px;
  }

  .media__info {
    width: 413px;
    padding: 20px;
  }

  .media__images {
    width: 215px;
  }

  .media__image-back {
    width: 175px;
    height: 117px;
    top: 15px;
  }

  .media__image-front {
    width: 140px;
    height: 124px;
    top: 15px;
    left: 76px;
  }
}

@media (max-width: 360px) {
  .media__container {
    flex-direction: column;
    padding: 20px 10px;
    gap: 0px;
  }

  .media__title {
    font-size: 18px;
  }

  .media__description {
    font-size: 16px;
    line-height: 130%;
  }

  .media__info {
    width: auto;
    padding-bottom: 0px;
  }

  .media__images {
    margin-left: auto;
  }

  .media__image-back {
    width: 175px;
    height: 116px;
    right: 23px;
  }

  .media__image-front {
    width: 140px;
    height: 123px;
    /* left: 58.65px; */
  }
}
