* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Manrope";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container__main {
  background-color: rgba(244, 244, 244, 1);
  padding: 40px 112px 80px 112px;
}

@media (max-width: 768px) {
  .container__main {
    background-color: rgba(244, 244, 244, 1);
    padding: 25px 30px 80px 30px;
  }
}

@media (max-width: 360px) {
}
